@model EasleyInventorySystem.Models.Asset

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>New Inventory Item</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssetName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssetName)
            @Html.ValidationMessageFor(model => model.AssetName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageUrl)
        </div>
        <div class="editor-field">
            
            @Html.EditorFor(model => model.ImageUrl)
            @Html.ValidationMessageFor(model => model.ImageUrl)
        </div>


        <!-- Purchase.PurchaseLocation-->
        <div class="editor-label">
            @Html.LabelFor(model => model.Purchase.PurchaseLocation)
        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.Purchase.PurchaseLocation)
            @Html.ValidationMessageFor(model => model.Purchase.PurchaseLocation)
        </div>

        <!-- Purchase.PurchaseDate-->
        <div class="editor-label">
            @Html.LabelFor(model => model.Purchase.PurchaseDate)
        </div>
        <div class="editor-field">
            <!-- Some jQuery UI for our date picker-->
            <script>
                $(function () {
                    $("#datepicker").datepicker(
                        {
                            changeMonth: true,
                            changeYear: true,
                            showButtonPanel: true,
                            numberOfMonths: 3,
                            dateFormat: "D, d MM, yy"
                        }
                        );
                });
            </script>
            <input type="text" name="Purchase.PurchaseDate" id="datepicker"  />

            <!-- @Html.EditorFor(model => model.Purchase.PurchaseDate) -->
            @Html.ValidationMessageFor(model => model.Purchase.PurchaseDate)
        </div>

        
        <!-- Purchase.PurchasePrice-->
        <div class="editor-label">
            @Html.LabelFor(model => model.Purchase.PurchasePrice)
        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.Purchase.PurchasePrice)
            @Html.ValidationMessageFor(model => model.Purchase.PurchasePrice)
        </div>


        


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
