@model EasleyInventorySystem.Models.Asset

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Asset</legend>


    
    <img src="@model.AssetName" height="100" width="100" />

    <div class="editor-label">
        @Html.LabelFor(model => model.AssetName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssetName)
    </div>



    

    <div class="display-label">ImageUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AssetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
