@model EasleyInventorySystem.Models.Asset

@{
    ViewBag.Title = "Details about";
}

<font size="5">@ViewBag.Title @Model.AssetName</font><br/>
<i>from @Model.Purchase.PurchaseLocation</i><br/>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        
                    <!-- Fake Images provided by http://lorempixel.com-->
        <table>
            <tr>
                <td>@Html.Label("Asset Image")</td>
                <td><img src="@Model.ImageUrl" height="100" width="100" /></td>
            </tr>

            <tr>
                <td>Purchase Information</td>
                <td>
                    
                    @Html.ActionLink(@Model.Purchase.PurchaseLocation, "Search", "InventoryManager", new { q= Url.Encode(@Model.Purchase.PurchaseLocation) }, null)<br />
                    @Model.Purchase.PurchaseDate.ToString("D")<br />
                    @Model.Purchase.PurchasePrice.ToString("C")
                </td>
            </tr>
        </table>
                    

                        
                    
                  
                    

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
