@model IEnumerable<EasleyInventorySystem.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Search:</h3>
@using (Html.BeginForm("Search", "InventoryManager", FormMethod.Get))
{
    <input type="text" name="q" />
    <input type="submit" value="Search" />

}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
                      <table>
                          <tr>
                              <th></th>
                              <th>Picture</th>
                              <th>Asset Name</th>
                              <th>Purchase Date</th>
                              <th>Purchase Price</th>
                              <th>Purchase Location</th>
                          </tr>

                          @foreach (var a in Model)
                          {
                              
                              <tr>
                                  <td>
                                      @Html.ActionLink("Edit Record", "Edit", new { Id = @a.AssetID })<br /><br/>
                                  @Html.ActionLink("View Details", "Details", new { Id = @a.AssetID})
                                  </td>
                                  <!-- Fake Images provided by http://lorempixel.com-->
                                  <td>
                                      <div class="assetimage">
                                          <img src="@a.ImageUrl" height="100" width="100" />
                                      </div>
                                  </td>
                                  <td>@a.AssetName</td>
                                  <td>@a.Purchase.PurchaseDate.ToString("D")</td>
                                  <td>@a.Purchase.PurchasePrice.ToString("C")</td>
                                  <td>@Html.ActionLink(@a.Purchase.PurchaseLocation, "Search", "InventoryManager", new { q = Url.Encode(@a.Purchase.PurchaseLocation) }, null)</td>
                              </tr>
                          }
</table>