@model IEnumerable<EasleyInventorySystem.Models.Asset>

@{
    ViewBag.Title = "Search";
    <h2>Results</h2>
    <table>
        <tr>
            <th>Picture</th>
            <th>Asset Name</th>
            <th>Purchase Date</th>
            <th>Purchase Price</th>
            <th>Purchase Location</th>
        </tr>

    @foreach (var a in Model)
    {
        
        <tr>
            <td><img src="@a.ImageUrl" /></td>
            <td>@a.AssetName.</td>
            <td>@a.Purchase.PurchaseDate</td>
            <td>@a.Purchase.PurchasePrice.ToString("C")</td>
            <td>@a.Purchase.PurchaseLocation</td>
        </tr>
    }
    </table>
}

<h2>Search</h2>
